.carousel-container {
  position: relative;
  height: 220px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  z-index: -10;
  margin-bottom: -4rem;
  display: inline-flex;
  width:100%;
}
.carousel-text-block {
}
.carousel-icon-container {
  width: 25%;
}
.carousel-icon {
  font-size: 52px;
  height: 56px;
  width: 56px;
  margin-top: 12px;
}
