<mat-toolbar>
  <div style="display: flex">
    <span>
      <button mat-raised-button (click)="back()">BACK</button>
    </span>
    <span style="flex: 1 1 auto;"></span>
    <!--<span *ngIf="!small">-->
    <!--<mat-slide-toggle-->
    <!--class="example-margin"-->
    <!--[color]="color"-->
    <!--[checked]="checked"-->
    <!--(change)="toggleLayout($event)"-->
    <!--[disabled]="disabled">-->
    <!--Slide me!-->
    <!--</mat-slide-toggle>-->
    <!--</span>-->
    <span>
      <button mat-raised-button (click)="preview()">NEXT</button>
  </span>

  </div>
</mat-toolbar>

<div class="form-container">
  <div #sectionForm  class="article-start-card">
    <app-section-form [temp_section]="temp_section" (_addSection)="addSection()"></app-section-form>
  </div>
</div>
<app-section-grid [model]="model.sections" (_model_change)="handleChange($event)"></app-section-grid>


<!--<div *ngIf="model.sections.length > 0">-->
  <!--<div>-->
    <!--<div [innerHTML]="model.sections[0].description"></div>-->
  <!--</div>-->
<!--</div>-->

<!--<mat-grid-list [cols]="mainCols" rowHeight="160px" >-->
  <!--<mat-grid-tile [colspan]="1" [rowspan]="3">-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile [colspan]="1" [rowspan]="(model.sections.length/2)+2"-->
                 <!--style="display: flex;-->
                 <!--align-content: flex-start !important;-->
                 <!--align-items: flex-start !important;">-->
    <!--<div class="grid-item">-->
      <!--<div>-->
        <!--&lt;!&ndash;<div style="display: block; flex: 1 1 auto;">&ndash;&gt;-->
          <!--&lt;!&ndash;<mat-toolbar style="padding-right:20%;">&ndash;&gt;-->
            <!--&lt;!&ndash;<span><h2 class="dark-text">{{model.title}}</h2></span>&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="fill-space"></span>&ndash;&gt;-->
            <!--&lt;!&ndash;<mat-chip-list>&ndash;&gt;-->
              <!--&lt;!&ndash;<mat-chip *ngFor="let tag of model.tags">{{tag}}</mat-chip>&ndash;&gt;-->
            <!--&lt;!&ndash;</mat-chip-list>&ndash;&gt;-->
          <!--&lt;!&ndash;</mat-toolbar>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<div style="display: inline-block;">-->
          <!--<span style="width: 20%;"></span>-->
        <!--</div>-->
        <!--&lt;!&ndash;<app-section-grid [model]="model.sections" (_model_change)="handleChange($event)"></app-section-grid>&ndash;&gt;-->
      <!--</div>-->

    <!--</div>-->

  <!--</mat-grid-tile>-->
<!--</mat-grid-list>-->


