<div *ngIf="canRender && !message" style="padding-top: 2rem;">
  <div class="article-meta-header">
    <mat-chip-list>
      <mat-chip
        style="background-color: #00796B; color: #ffffff;"
        *ngFor="let tag of model.tags">#{{tag}}</mat-chip>
    </mat-chip-list>
    <div>
      <h3 class="dark-text">{{model.created}}</h3>
    </div>
  </div>
  <div style="margin-left: 10%; margin-right: 10%;">
    <mat-card class="article-view-card">
      <mat-card-header>
        <h1 class="dark-text">{{model.title}}</h1>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{model.body | json}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>

</div>

<div *ngIf="message">
  <div class="grid-container centered-grid">
    <div style="width: 60%; margin: auto">
      <div>
        <mat-card>
          <div class="grid-container">
            <div style="width: 100px">
              <mat-icon
                class="warn"
                style="height: 80px; width: 80px; font-size: 80px;">error</mat-icon>
            </div>
              <div>
                <h2>{{message}}</h2>
              </div>

          </div>
          <div class="grid-item" style="width: 100%;">
            <button
              style="position: relative; margin: auto;"
              mat-raised-button color="primary"
                    routerLink="/articles"
            >Go Discover Something New</button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
