/* You can add global styles to this file, and also import other style files */
/*body {*/
  /*font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;*/
  /*margin: 0;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*position: absolute;*/
  /*top: 56px;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*color: #212121;*/
/*}*/

.dark-primary    { background: #00796B; }
.primary         {
  background-color: #009688 !important;
  color: #FFFFFF !important;
}
.light-primary   { background: #B2DFDB; }
.text-primary    { color: #FFFFFF; }
.accent          { background: #607D8B; }
.primary-text    { color: #212121; }
.secondary-text  { color: #757575; }
.divider-color   { border-color: #BDBDBD; }
.dark-text       { color: #009688;}
.x-dark-text     { color: #00796B; }
.warn            { color: chocolate}
.transparent     { background-color: transparent; }
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body *{
  font-family: Roboto;
  /*color: #ffffff;*/
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 330px;
  min-height: 100%;
}
.tb-icon {
  padding: 0 12px;
  height: 1rem;
}
.overflow-on {
  overflow: visible;
}
.fill-space {
  flex: 1 1 auto;
}
.padding-left-2 {
  padding-left: 2rem;
}
.padding-left-4 {
  padding-left: 4rem;
}
.padding-top-2 {
  padding-top: 2rem;
}

.form-container
{
  padding: 1rem;
}
.grid-item {
  flex: 1 1 auto;
}
.grid-container {
  display: flex;
  width: 100%;
}
mat-grid-tile .mat-figure {
  align-items: flex-start !important;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.form-container {
  min-width: 150px;
  max-width: 500px;
}

.centered-grid {
  display: flex;
  justify-content: center;
  /*align-content: center;*/
  /*align-items: center;*/
}
mat-grid-tile .mat-figure {
  align-items: flex-start !important;
}
.section-card {
  width: 100%;
  height: 80%;
  margin: 1rem;
}
.section-card:hover {
  box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);

}
.grabbed-section-card {
  width: 50vw;
  height: 180px;
  margin: 1rem;
  box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);

  /*background-color: #B2DFDB;*/
}
